---
import { getI18N } from "@/i18n";
import NumberCard from "./NumberCard.astro";
const { DATE_END, title, subtitle, type } = Astro.props;
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  data-date={DATE_END}
  class="grid grid-cols-2 md:grid-cols-4 gap-2 max-w-3xl select-none hover:cursor-crosshair"
  data-type={type}
>
  <NumberCard>
    <span class="text-5xl font-bold" data-days>00</span>
    <span>{i18n.components.countdown.labels.days}</span>
  </NumberCard>
  <NumberCard>
    <span class="text-5xl font-bold" data-hours>00</span>
    <span>{i18n.components.countdown.labels.hours}</span>
  </NumberCard>
  <NumberCard>
    <span class="text-5xl font-bold" data-minutes>00</span>
    <span>{i18n.components.countdown.labels.minutes}</span>
  </NumberCard>
  <NumberCard>
    <span class="text-5xl font-bold" data-seconds>00</span>
    <span>{i18n.components.countdown.labels.seconds}</span>
  </NumberCard>
</section>
<section id="its-time" class="hidden">
  <div
    class="flex flex-col border border-gray-400 p-4 gap-4 justify-center items-center rounded"
  >
    <h2 class="text-4xl text-[#D52941] font-bold text-center">
      {title}
    </h2>
    <p class="text-center">
      {subtitle}
    </p>
    <small class="text-gray-400"
      >{
        i18n.components.countdown.nextCountdown.replace(
          "{type}",
          type == "christmas" ? "Navidad" : type
        )
      }</small
    >
  </div>
</section>

<script>
  import { snowAnimation } from "@utils/snowAnimation";
  import { fireworksAnimation } from "@utils/fireworksAnimation";
  const $ = (s: string) => document.querySelector(s);
  const SECONDS = 1000;
  const MINUTES = SECONDS * 60;
  const HOURS = MINUTES * 60;
  const DAYS = HOURS * 24;

  function chooseClassname(days: string, hours: string, minutes: string) {
    let res =
      "grid grid-cols-2 md:grid-cols-4 gap-2 max-w-3xl select-none hover:cursor-crosshair";
    if (days == "00" && hours == "00" && minutes == "00") {
      res =
        "grid grid-cols-2 md:grid-cols-1 gap-2 max-w-3xl select-none hover:cursor-crosshair";
    }
    return res;
  }

  function init() {
    const $countdown = $("[data-date]");
    const TIME = "T00:00:00";
    if (!$countdown) return;
    const $days = $countdown.querySelector("[data-days]");
    const $hours = $countdown.querySelector("[data-hours]");
    const $minutes = $countdown.querySelector("[data-minutes]");
    const $seconds = $countdown.querySelector("[data-seconds]");
    const targetDate = $countdown.getAttribute("data-date");
    if (!targetDate) return;
    let date = new Date(targetDate + TIME).getTime();

    function formatTime(time: number) {
      return Math.floor(time).toString().padStart(2, "0");
    }

    function updateCountdown() {
      const now = Date.now();
      const today = new Date();
      if (!targetDate) return;
      const dateEnd = new Date(targetDate + TIME);
      while (dateEnd.getFullYear() < today.getFullYear()) {
        date = new Date(
          dateEnd.getFullYear() + 1,
          dateEnd.getMonth(),
          dateEnd.getDate(),
          dateEnd.getHours(),
          dateEnd.getMinutes(),
          dateEnd.getSeconds()
        ).getTime();
      }
      const distance = date - now;
      if (distance < 0) {
        if (!targetDate) return;
        const dateEnd = new Date(targetDate + TIME);
        if (dateEnd.getDate() == new Date().getDate() && $countdown) {
          $countdown.innerHTML = "";
          const $itsTime = $("#its-time");
          if ($itsTime instanceof HTMLElement) {
            $itsTime.className = "";
            let interval = setInterval(() => fireworksAnimation(interval), 350);
          }
        }
      }
      if (!$countdown) return;
      const type = $countdown.getAttribute("data-type");
      if (type === "christmas") {
        snowAnimation();
      }
      let days, hours, minutes, seconds;
      days = formatTime(distance / DAYS);
      hours = formatTime((distance % DAYS) / HOURS);
      minutes = formatTime((distance % HOURS) / MINUTES);
      seconds = formatTime((distance % MINUTES) / SECONDS);

      if ($days instanceof HTMLElement) {
        $days.innerText = days;
        if (
          days === "00" &&
          $days.parentElement &&
          hours === "00" &&
          minutes === "00"
        ) {
          $days.parentElement.className = "hidden";
        }
      }
      if ($hours instanceof HTMLElement) {
        $hours.innerText = hours;
        if (
          hours === "00" &&
          $hours.parentElement &&
          days === "00" &&
          minutes === "00"
        ) {
          $hours.parentElement.className = "hidden";
        }
      }
      if ($minutes instanceof HTMLElement) {
        $minutes.innerText = minutes;
        if (
          minutes === "00" &&
          $minutes.parentElement &&
          days === "00" &&
          hours === "00"
        ) {
          $minutes.parentElement.className = "hidden";
        }
      }
      if ($seconds instanceof HTMLElement) {
        $seconds.innerText = seconds;
        if (
          $seconds.parentElement &&
          minutes === "00" &&
          days === "00" &&
          hours === "00"
        ) {
          $seconds.parentElement.className =
            "flex flex-col items-center justify-center bg-[#D52941] text-[#faf5f3] p-2 w-[400px] h-[250px] rounded-lg text-5xl";
        }
      }
      if (days && hours && minutes) {
        $countdown.className = chooseClassname(days, hours, minutes);
      }
    }

    setInterval(updateCountdown, 1000);
  }

  init();
</script>
