---
import Analytics from "@vercel/analytics/astro";

const props = Astro.props || {};
const title =
  props.title ??
  "游꾻쮺uantos d칤as faltan para navidad?游꾻 Cuenta atr치s hasta Navidad 2026";
const description =
  props.description ??
  "쮺u치ntos D칤as Faltan para NAVIDAD 2026? 춰Sigue la cuenta atr치s hasta Nochebuena y prep치rate para las festividades!";
const image = props.image ?? "/favicon.svg?v=2";
const canonical = props.canonical ?? Astro.site?.href ?? "";
const lang = props.lang ?? "es-ES";
const schema =
  props.schema ??
  JSON.stringify({
    "@context": "https://schema.org",
    "@type": "WebPage",
    name: title,
    description: description,
    image: image,
    url: canonical,
  });
const questionsSchema = props.questionsSchema ?? {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  mainEntity: [
    {
      "@type": "Question",
      name: "쮺u치ndo es Navidad en 2026?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "Navidad en 2026 se celebra el 25 de diciembre.",
      },
    },
    {
      "@type": "Question",
      name: "쯈u칠 d칤a se arma el 치rbol de Navidad?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "El 치rbol de Navidad generalmente se arma el 8 de diciembre, coincidiendo con la festividad de la Inmaculada Concepci칩n, aunque algunas familias prefieren hacerlo a principios de diciembre o incluso m치s cerca de Navidad.",
      },
    },
    {
      "@type": "Question",
      name: "쯇or qu칠 es importante la Navidad?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "La Navidad es una festividad que celebra el nacimiento de Jesucristo y es una 칠poca para compartir con familiares y amigos, as칤 como para reflexionar sobre valores como la generosidad y la esperanza.",
      },
    },
    {
      "@type": "Question",
      name: "쮺u치ntos d칤as faltan para Navidad 2026?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "La cantidad de d칤as que faltan para Navidad 2026 depende de la fecha actual. Puedes usar nuestra cuenta atr치s para saberlo al instante.",
      },
    },
    {
      "@type": "Question",
      name: "쯈u칠 tradiciones navide침as son populares en 2026?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "En 2026, las tradiciones navide침as incluyen decorar el 치rbol de Navidad, intercambiar regalos, cantar villancicos y compartir comidas festivas con familiares y amigos.",
      },
    },
    {
      "@type": "Question",
      name: "쮺u치les son los mejores regalos para la navidad 2026?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "Los mejores regalos en Navidad son aquellos que reflejan los intereses y necesidades de la persona. Considera experiencias, libros, tecnolog칤a, productos de bienestar, o simplemente tu tiempo y atenci칩n. En Navidad, recordar los detalles especiales de cada persona es lo que importa.",
      },
    },
    {
      "@type": "Question",
      name: "쮺u치l es el significado de la Navidad?",
      acceptedAnswer: {
        "@type": "Answer",
        text: "La Navidad es una celebraci칩n de uni칩n, familia y generosidad. M치s all치 de las compras y decoraciones, la Navidad representa el tiempo para conectar con nuestros seres queridos, reflexionar sobre el a침o y renovar nuestras esperanzas para el futuro.",
      },
    },
  ],
};

const keywords =
  props.keywords ??
  "cuenta atr치s, navidad, christmas countdown, calendario, cuenta regresiva, Nochebuena, festivo, vacaciones, diciembre, festividades, falta para navidad, d칤as para navidad, contador regresivo, cuanto falta para navidad";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={canonical} />
    <meta name="theme-color" content="#264a38" />

    <meta property="og:locale" content={lang} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonical} />
    <meta property="og:image" content={image} />
    <meta property="og:image:alt" content="Cuenta atr치s para Navidad" />

    <script type="application/ld+json" set:html={schema} />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(questionsSchema)}
    />
  </head>
  <body>
    <slot />
    <div class="hidden">
      <Analytics />
    </div>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
      min-height: 100dvh;
      background-color: #fef9ef;
      color: #faf5f3;
      display: flex;
      flex-direction: column;
    }
  </style>
</html>
