---
import Analytics from "@vercel/analytics/astro";
const props = Astro.props || {};
const title = props.title ?? "Cuenta atr치s para Navidad 游꾻";
const description =
  props.description ??
  "쮺u치ntos D칈AS Faltan para NAVIDAD? 춰Sigue la cuenta atr치s hasta Nochebuena y prep치rate para las festividades!";
const image = props.image ?? "/og-image.png";
const canonical = props.canonical ?? Astro.site ?? "";
const lang = props.lang ?? "es-ES";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="cuenta atr치s, navidad, christmas countdown, calendario, cuenta regresiva, Nochebuena, festivo, vacaciones, diciembre, festividades, falta para navidad, d칤as para navidad, contador regresivo, cuanta falta para navidad, cuando, cuando es, cuando es navidad, cuando navidad, que dia, dia, es, que dia es navidad, cuanto falta, cuanto falta para navidad, cuanto, falta, para, navidad, hasta, cuanto falta hasta navidad, cuanto falta hasta navidad, faltan, faltan dias para navidad, faltan dias, faltan dias navidad, faltan dias para, faltan dias para navidad, 2025, diciembre 2025, navidad 2025, cuanto falta para navidad 2025, cuenta atras navidad 2025, cuenta regresiva navidad 2025, navidad 2025 cuenta atras, navidad 2025 cuenta regresiva, navidad 2025 cuanto falta, navidad 2025 cuando es, navidad 2025 que dia es, navidad 2025 cuantos dias faltan, navidad 2025 cuantos dias, navidad 2025 cuantos dias para, navidad 2025 cuantos dias para navidad, navidad 2025 hasta cuando, navidad 2025 hasta que dia, navidad 2025 hasta que fecha, navidad 2025 hasta cuando es"
    />
    <link rel="canonical" href={canonical} />
    <meta name="theme-color" content="#264a38" />

    <!-- Open Graph -->
    <meta property="og:locale" content={lang} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonical} />
    <meta property="og:image" content={image} />
    <meta property="og:image:alt" content="Cuenta atr치s para Navidad" />
  </head>
  <body>
    <slot />
    <div class="hidden">
      <Analytics />
    </div>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: #fef9ef;
      color: #faf5f3;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }
  </style>
</html>
